<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.0-alpha.1/tailwind.min.css"
      integrity="sha512-NUFPUFpyuQGekaUg+cNAh8qN0bwd04x5tBgYRT9iNdrUV38gVu4QU0jlx1CSBKPOnp5invOm0HPW4+cXqjBeAQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- flowbite  -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- My Css  -->
    <link rel="stylesheet" href="./Scss/index.css" />
  </head>
  <body>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <div
        class="flex items-center justify-between py-4 bg-white dark:bg-gray-800"
      >
        <div>
          <button
            id="dropdownActionButton"
            data-dropdown-toggle="dropdownAction"
            class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
            type="button"
          >
            <p class="font-bold">Bạn Là:......</p>
            <!-- screen reader -->
            <span class="sr-only">Action button</span>
            <span id="choice">Student</span>
            <svg
              class="w-3 h-3 ml-2"
              aria-hidden="true"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownAction"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-1 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownActionButton"
            >
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  id="Student"
                  onclick="changeOption('Student')"
                  >Student</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  id="Employee"
                  onclick="changeOption('Employee')"
                  >Employee</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  id="Customer"
                  onclick="changeOption('Customer')"
                  >Customer</a
                >
              </li>
            </ul>
            <div class="py-1">
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Delete User</a
              >
            </div>
          </div>
        </div>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            id="table-search-users"
            class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search for users"
          />
        </div>
      </div>
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Họ tên</th>
            <th scope="col" class="px-6 py-3">Địa chỉ</th>
            <th scope="col" class="px-6 py-3">Mã</th>
            <th scope="col" class="px-6 py-3">Email</th>
            <!-- *student  -->
            <th scope="col" class="student px-6 py-3">Toán</th>
            <th scope="col" class="student px-6 py-3">Lý</th>
            <th scope="col" class="student px-6 py-3">Hóa</th>
            <th scope="col" class="student px-6 py-3">Khác</th>
            <!-- *Employee              -->
            <th scope="col" class="employee px-6 py-3 hidden-employ">
              Ngày làm việc
            </th>
            <th scope="col" class="employee px-6 py-3 hidden-employ">
              Lương theo ngày
            </th>
            <th scope="col" class="employee px-6 py-3 hidden-employ">Khác</th>
            <!-- *Customer  -->
            <th scope="col" class="customer px-6 py-3 hidden-cus">Tên Cty</th>
            <th scope="col" class="customer px-6 py-3 hidden-cus">
              Trị giá hóa đơn
            </th>
            <th scope="col" class="customer px-6 py-3 hidden-cus">Đánh giá</th>
            <th scope="col" class="customer px-6 py-3 hidden-cus">Khác</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <!-- !Tên  -->
            <th
              scope="row"
              class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
            >
              <div class="">
                <div class="text-base font-semibold">Neil Sims</div>
              </div>
            </th>
            <!-- !Địa chỉ  -->
            <td class="px-6 py-4">React Developer</td>
            <!-- !Mã  -->
            <td
              scope="row"
              class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
            >
              SE1234
            </td>
            <!-- !gmail  -->
            <td class="px-6 py-4">React Developer@gmail.com</td>
            <!-- !Toán  -->
            <td class="px-6 py-4">9</td>
            <!-- !Lý  -->
            <td class="px-6 py-4">9</td>
            <!-- !Hóa  -->
            <td class="px-6 py-4">9</td>
            <!-- !Khác  -->
            <!-- <td class="px-6 py-4">
              Modal toggle
              <a
                href="#"
                type="button"
                data-modal-target="editUserModal"
                data-modal-show="editUserModal"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Edit user</a
              >
            </td> -->
          </tr>
        </tbody>
      </table>
      <!-- Edit user modal -->
      <div
        id="editUserModal"
        tabindex="-1"
        aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
      >
        <div class="relative w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <form
            action="#"
            class="relative bg-white rounded-lg shadow dark:bg-gray-700"
          >
            <!-- Modal header -->
            <div
              class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
            >
              <div>
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Adjust user
                </h3>
              </div>
              <div class="flex flex-col ml-80">
                <p class="font-semibold text-gray-900 dark:text-white">
                  Chọn chức vụ:
                </p>
                <select class="rounded-2xl" name="" id="form-choice">
                  <option value="Student" selected>Student</option>
                  <option value="Employee">Employee</option>
                  <option value="Customer">Customer</option>
                </select>
              </div>
              <!-- *dấu "x" -->
              <button
                type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="editUserModal"
              >
                <svg
                  aria-hidden="true"
                  class="w-5 h-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="hoTen"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Họ Tên</label
                  >
                  <input
                    type="text"
                    name="first-name"
                    id="hoTen"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Bonnie"
                    required=""
                  />
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="address"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Địa chỉ</label
                  >
                  <input
                    type="text"
                    name="last-name"
                    id="address"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="7 Grove Street"
                    required=""
                  />
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="userID"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Mã</label
                  >
                  <input
                    type="number"
                    name="phone-number"
                    id="userID"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="SE1234"
                    required=""
                  />
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Email</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="example@company.com"
                    required=""
                  />
                </div>
                <!-- Student -->
                <div class="formStudent col-span-6 sm:col-span-3">
                  <label
                    for="toan"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Toán</label
                  >
                  <input
                    type="text"
                    name="department"
                    id="toan"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="8"
                    required=""
                  />
                </div>
                <div class="formStudent col-span-6 sm:col-span-3">
                  <label
                    for="ly"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Lý</label
                  >
                  <input
                    type="number"
                    name="company"
                    id="ly"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="9"
                    required=""
                  />
                </div>
                <div class="formStudent col-span-6 sm:col-span-3">
                  <label
                    for="hoa"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Hóa</label
                  >
                  <input
                    type="password"
                    name="current-password"
                    id="hoa"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="10"
                    required=""
                  />
                </div>
                <!-- Employee  -->
                <div
                  class="formEmployee hidden-employ col-span-6 sm:col-span-3"
                >
                  <label
                    for="workDay"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Ngày làm việc</label
                  >
                  <input
                    type="text"
                    name="department"
                    id="workDay"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="8"
                    required=""
                  />
                </div>
                <div
                  class="formEmployee hidden-employ col-span-6 sm:col-span-3"
                >
                  <label
                    for="daySalary"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Lương theo ngày</label
                  >
                  <input
                    type="text"
                    name="department"
                    id="daySalary"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="8"
                    required=""
                  />
                </div>
                <!-- Customer  -->
                <div class="formCustomer hidden-cus col-span-6 sm:col-span-3">
                  <label
                    for="tenCty"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Tên Công Ty</label
                  >
                  <input
                    type="text"
                    name="department"
                    id="tenCty"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="8"
                    required=""
                  />
                </div>
                <div class="formCustomer hidden-cus col-span-6 sm:col-span-3">
                  <label
                    for="bill"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Trị giá hóa đơn</label
                  >
                  <input
                    type="text"
                    name="department"
                    id="bill"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="8"
                    required=""
                  />
                </div>
                <div class="formCustomer hidden-cus col-span-6 sm:col-span-3">
                  <label
                    for="rate"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Đánh giá</label
                  >
                  <input
                    type="text"
                    name="department"
                    id="rate"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="8"
                    required=""
                  />
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div
              class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
            >
              <button
                class="text-white bg-yellow-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                onclick="handleAddNV()"
              >
                add
              </button>
              <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Save all
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Flowbite  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
    <!-- myJS  -->
    <script src="../js/modal.js"></script>
    <script src="../js/controller.js"></script>
    <script src="../js/main.js"></script>
    <!-- Class  -->
    <script src="../js/Class/Customer.js"></script>
    <script src="../js/Class/Employee.js"></script>
    <script src="../js/Class/ListPerson.js"></script>
    <script src="../js/Class/Person.js"></script>
    <script src="../js/Class/Student.js"></script>
  </body>
  <footer>
    <button
      href="#"
      type="button"
      data-modal-target="editUserModal"
      data-modal-show="editUserModal"
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline px-6 py-2 bg-yellow-600 text-white"
    >
      Edit user
    </button>
  </footer>
</html>
